/** LIST **/
ul, ol {
    margin: 0 0 10px;
    padding-left: 30px;
}
ul {
    padding-right: 10px;
}
li:before {
    content: " ";
}
.barList {
    margin-left: 0;
    padding: 0;
    > li {
        position: relative;
        padding: em(12) em(10);
        margin:0 0 em(5) em(32);
        list-style: none;
        background: rgba(0,0,0,0.05);
        box-shadow: none;
        cursor: default;
        clear: both;
        line-height: 1.4em;
        &:hover, &.current {
            @extend .zoom;
            rgba($color-blue,0.15);
            box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            &:before {
                rgba($color-blue,0.35);
                box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            }
        }
        &:before {
            position: absolute;
            top: 0;
            left: em(-32);
            width: em(32);
            height: 100%;
            margin-right: em(8);
            background: rgba(0,0,0,0.15);
            font-weight: bold;
            text-align: center;
            padding: em(8) 0;
        }
    }
}
ol {
    @extend .barList;
    counter-reset: li;
    > li {
        @extend .a100, .rr;
        &:before {
            @extend .a100, .rl;
            content: counter(li);
            counter-increment: li; 
        }
    }
}
.icon, .tree {
    > li, > li > a {
        &:before {
            font-size: em(20);
            display: inline-block;
            width: emOf(32,20);
            text-align: center;
            padding-left: emOf(4,20);
            line-height: emOf(32,20);
            float: left;
            margin-right: 0.25em;
        }
    }
}
.tree, .branch {
    padding: 0;
    > li {
        list-style-type: none;
        line-height: 32px;
        &.small {
            font-size: 0.75em;
        }
        > a {
            display: block;
            overflow: hidden;
            &:hover {
                background: rgba(255,255,255,0.1);
            }
            &.current{
                font-weight:bold;
            }
            &:before {
                @extend %icon;
                content: icon('right');
            }
            &:after {
                content: attr(data-badge);
                color: #777;
                float: right;
                line-height: 1.5em;
                font-size: .75em;
                padding: 0 0.5em;
                margin: .75em;
                margin-left: 0;
            }
        }
        > ul {
            display: none;
        }
        &.expanded {
            > a {
                &:before {
                    content: "\e03c";
                }
            }
            > ul {
                display: block;
            }
        }
    }
}
.tree {
    > li > a {
        border-top: solid 1px rgba(0,0,0, 0.2);
    }
}
.branch {
    margin: 0 0 0 15px;
    background: rgba(0,0,0,0.025);
    > li > a {
        padding-left: 10px;
    }
}
ul.iconList {
    margin: 10px 0 0;
    padding: 0;
}
ul.iconList li {
    font-size: 12px;
    list-style-type: none;
    background-repeat: no-repeat !important;
    line-height: 16px;
    padding: 2px 0 2px 24px;
}
ul.iconList li img {
    display: none;
}