html {
  @include transition(500ms, "background-image");
  background: #000 url(../img/blank.gif) right top / cover fixed no-repeat;
  &.bg {
    &-home {
      background-image: url(/media/large/home.jpg);
    }
    &-contact {
      background-image: url(/media/large/contact.jpg);
    }
    &-bio {
      background-image: url(/media/large/bio.jpg);
    }
    &-media {
      background-image: url(/media/large/media.jpg);
    }
    &-calendar {
      background-image: url(/media/large/calendar.jpg);
    }
  }
}

body {
  font: 20px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 380px;
  padding: $space / 2 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', 'Helvetica';
  font-style: normal;
  font-weight: 400;
  color: $color-secondary;
  text-indent: $space / 2;
}

label{
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  span{
    position: absolute;
    right: 0px !important;
    font-size: 10px;
    color: #888;
    left: auto !important;
    top: auto !important;
  }
}

input, textarea {
  border-width: 2px;
  border-color: #ccc;
  border-style: solid;
}
