$color-primary: #1f85b2;
$color-primary-lt: lighten($color-primary,20%);
$color-primary-dk: darken($color-primary,20%);
$color-secondary: #f9b300;
$color-secondary-dk: darken($color-secondary,20%);
$color-secondary-lt: lighten($color-secondary,20%);
