<style>
    form {
        width: 100%;
    }
    label {
        width: calc(50% - 20px);
        display: block;
        float: left;
        margin: 10px;
        font-weight: bold;
    }
    label > input, label > textarea {
        width: 100%;
        padding: 8px;
        font-weight: bold;
    }
    :not(:focus).ng-dirty.ng-invalid {
        border-color: #f00;
    }
    label.full {
        width: calc(100% - 20px);
    }
    #bodyContent > .p {
        padding: 5%;
    }
</style>
<div>
    <form name="contactForm" class="mainBG p mb fl" ng-controller="MessageController" ng-submit="contactForm.$valid && saveData()" novalidate>
        <h1>Book Me!</h1>

        <div ng-show="!submitted">
            <label for="name" class="full">
                Name:
                <input type="text" ng-model="contact.name" required>
            </label>
            <label for="phone">
                Phone:
                <input type="tel" ng-model="contact.phone" required>
            </label>
            <label for="email">
                Email:
                <input type="email" ng-model="contact.email" required>
            </label>
            <label for="message" class="full">
                Message:
                <textarea ng-model="contact.message"></textarea>
            </label>
            <button type="submit">Submit</button>
        </div>
        <div ng-show="submitted">
            <div class="text box">Message: {{form.message}}</div>
        </div>
    </form>


    <form name="subscribeForm" class="mainBG p fl" ng-controller="SubscriberController" ng-submit="subscribeForm.$valid && saveData()">
        <h1>Join My Email List!</h1>
            <div ng-show="!submitted">
            <label for="name" class="full">
                Name:
                <input type="text" name="name" ng-model="subscriber.name" required>
            </label>
            <label for="email" class="full">
                Email:
                <input type="email" name="email" ng-model="subscriber.email" required>
            </label>
            <button type="submit">Submit</button>
        </div>
        <div ng-show="submitted">
            <div class="text box">Message: {{message}}</div>
        </div>
    </form>
</div>